#frame1 {
  display: none;
}
#frame2 {
  display: none;
}
#frame3 {
  display: none;
}
#frameoutput {
  display: none;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

h1 {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #33475b;
    font-family: Avenir;
}

p {
  padding: 30px;
  margin: 5px;
  background-color: #33475b;
  border-radius: 12px;
  color: white;
  font-family: Avenir;
}


div
{
    text-align: left;
    font-size: 20px;
    color: white;
    padding: 20px;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 750px;
    width:300px;
}
.one
{
    background-color: white;
    float: left;
}
.two
{
    background-color:white;
    float: left;
}
.three
{
    background-color: white;
    float: left;
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color: grey;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 0;
  right: 0;
}
