<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>
        <meta name="description" content="Demo for video explainability app" />
        <meta name="author" content="Joachim Vanneste" />
        <title></title>
        <link href="../static/styles.css" rel="stylesheet"/>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>
    <body>
        <h1>Video explainability</h1>
        <div class="one">
          <p>
            <label for="avatar">Select a video and a model</label>
            <input type="file" id="select1" name="avatar" accept="video/*">
            <input type="file" id="ctrl" webkitdirectory directory multiple/>
            <!-- <button onclick="getOption()">Run</button> -->
            <br>
            <button class="button" onclick="getOption()" style="vertical-align:middle"><span>Run model with video</span></button>
            <br>
            <span class="output"></span>
             <br>
           <label for="fname">Key frames:
           <input type="number" id="frames" name="frames" min="1" max="10"></label>
           <label for="fname">Features:
           <input type="number" id="features" name="features" min="1" max="10"></label>
           <!-- <button type="button" onclick="showFrames()" id="btnID">Show Image</button> -->
           <button class="button" id="btnID" onclick="showFrames()" style="vertical-align:middle"><span>Show key frames</span></button>
         </p>

        </div>
        <div class="two">
          <p>
            Key frames:
            <br>
          Frame x
          <br>
          <img id="frame1" src={{ url_for('static', filename='50segments.png') }} alt="Frame" width="250" height="200">
          <br>
          Frame x
          <br>
          <img id="frame2" src={{ url_for('static', filename='50segments.png') }} alt="Frame" width="250" height="200">
          <br>
          Frame x
          <br>
          <img id="frame3" src={{ url_for('static', filename='50segments.png') }} alt="Frame" width="250" height="200">
          <br>
        </p>

        </div>
        <div class="three">
          <p>
             Regions in top frame:
            <br>
          <img src={{ url_for('static', filename='50segments.png') }} style="float:right"  width="300" height="220"/>
        </p>
        </div>

    </body>
</html>
